body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
header {
    height: 10%;
}
.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #86BBD8;
}

.search-field {
    background-color: #EDEEF0;
    background-image: url("img/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    width: 330px;
    height: 32px;
    padding: 0 0 0 34px;
    border-width: 0;
    outline-width: 0;
    border-radius: 8px;
}

.map {
    height: 100%;
    width: 100%;
}

.propeties-container {
    background-color: white;
    position: fixed;
    right:20px;
    top:10%;
    width: 400px;
    border-radius: 5px;
}

.propeties-block {
    background-color: #a1c8de84;
    border-radius: 5px;
    width: auto;
    height: auto;
    min-height: 20px;
    margin: 10px;
    padding: 5px;
}

.propeties-block img {
    margin: 5px;
}