<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "users/css/style-login.css" %}">
    <title>{{view.title}}</title>
</head>
<body>
    <main>
        <div class="form-container">
            <div class="rectangle">
                <div class="head">
                    <img class="logo" src="{% static "users/img/logo.svg" %}" alt="Логотип">
                    <h1 class="montserrat-header">MAP OF INTEREST</h1>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.username}}
                    {{ form.username.errors }}
                    {{ form.password}}
                    {{ form.password.errors }}
                    <input class="submit-field" type="submit" value="Войти">
                    <a href="url" class="font-2">Создать аккаунт</a>
                    <p class="font-3">Нажимая любую кнопку, вы принимаете условия Лицензионного соглашения. <br>Условия и цели обработки персональных данных определены в <br>Политике конфиденциальности.
                    Политика обработки персональных данных.</p>
                </form>
            </div>
        </div>
    </main>
</body>
</html>