<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
    <script src="https://api-maps.yandex.ru/v3/?apikey=9d41c8c3-eca5-4b49-9eaa-c08e88bbd00a&lang=ru_RU"></script>
</head>
<body>
    <header>
        <nav class="navigation">
            <h1 class="h1"><img class="logotype" src="img/logo.svg" alt="логотип">Map Of Interest</h1>
        <form class="search-form">
            <input class="search-field" type="search" placeholder="Искать маршруты...">
        </form>
            <a href="#">
                <img src="" alt="" title="">
            </a>
            <a href="#">
                <img src="" alt="" title="">
            </a>
        </ul>
        </nav>
    </header>
    <main>
        <div>
            <div id="map" style="height: 100vh"></div>
        </div>
        <div class="propeties-container">
            <div class="propeties-block">
                <span>Сложность маршрута:</span>
                <br>
                <img src="img/Icon.svg" alt="">
                <img src="img/Icon.svg" alt="">
                <img src="img/Icon.svg" alt="">
                <img src="img/Icon.svg" alt="">
                <img src="img/Icon.svg" alt="">
            </div>
            <div class="propeties-block">
                <span>Описание:</span>
            </div>
            <div class="propeties-block">
                
            </div>
        </div>
    </main>
    <footer>
        <div>
            <span></span>
    </footer>
    <script src="js/map.js"></script>
</body>
</html>