<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-login.css">
    <title>Recovery</title>
</head>
<body>
    <main>
        <div class="form-container">
            <div class="rectangle">
                <div class="head">
                    <img class="logo" src="img/logo.svg" alt="Логотип">
                    <h1 class="montserrat-header">Восстановление пароля</h1>
                </div>
                <form method="post">
                    <input class="input-field" placeholder="Логин" type="text" id="username" name="username">
                    <input class="input-field" placeholder="Пароль" type="password" id="password" name="password">
                    <a href="url" class="font-1">Забыли пароль?</a> 
                    <input class="submit-field" type="submit" value="Войти">
                    <a href="file:///C:/Users/renda/Documents/MOI/MOI/templates/registration.html" class="font-2">Создать аккаунт</a>
                    <p class="font-3">Нажимая любую кнопку, вы принимаете условия Лицензионного соглашения. <br>Условия и цели обработки персональных данных определены в <br>Политике конфиденциальности.
                    Политика обработки персональных данных.</p>
                </form>
            </div>
        </div>
    </main>
</body>
</html>